body {
  background-color: #282c34;
  margin: 15px;
  margin-top: 150px;
}

.new-task-form,
.new-task-form * {
  box-sizing: border-box;
  font-family: sans-serif;
}

.new-task-form {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.new-task-form__logo-container {
  padding: 30px;
  background: rgba(0,0,0,0.25);
}

.new-task-form__logo-container img {
  display: block;
  max-width: 125px;
  margin: 0 auto;
}

.new-task-form__content {
  padding: 30px;
  background: #eeeeee;
}

.new-task-form__header {
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
  font-size: 36px;
}

.new-task-form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: #ffffff;
  outline: none;
  transition: border-color 0.5s;
}

.new-task-form__input:focus {
  border-color: #282c34;
}

.new-task-form__input:placeholder {
  color: #aaaaaa;
}

.new-task-form__label {
  text-align: left;
  font-family: sans serif;
  font-size: 18px;
}

.new-task-form__button {
  margin: 3px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background: #282c34;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-task-form__button:active {
  background: #282c67;
}